* {
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
}

/*Шапка сайта*/
.header {
    background-image: url("content/11.jpg");
    background-size: cover;
    height: 1000px;
    z-index: -2;
}

.button-with-yellow {
    max-width: 1200px;
    padding-left: 320px;
    padding-right: 320px;

    height: 369px;
    width: 624px;
    position: relative;
    margin-left: 656px;
    margin-top: 538px;
    text-align: center;
    
}



.rectangle {
    position: absolute;
    right: 320px;
    z-index: 0;
}

.text-yellow-blok {
    position: absolute;
    top: 70px;
    left: 390px;
}

.text_yellow {
    text-align: left;
    font-size: 62px;
    font-family: Archangelsk;
    font-weight: 400;
    letter-spacing: 0%;
    z-index: 1;
    text-wrap: nowrap;
    margin-bottom: 25px;
}

.btn-yellow {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #F8F200;
    background-color: #000;
    width: 272px;
    height: 78px;
    text-decoration: none;
    border: 0px;
    z-index: 1;
    position: absolute;
    left: 0px;
}

.container {
    max-width: 1200px;
    padding-left: 320px;
    padding-right: 320px;
}

.header .container {
    display: flex;
    align-items: center;
    position: relative;
}

.logo img {
    vertical-align: bottom;
    width: 295.99px;
    height: 73.49px;
    padding-top: 20px;
}

.menu {
    margin-left: 605px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu-item_last {
    margin-top: 42px;
}

.menu img {
    width: 30px;
    height: 30px;
}

.menu-item {
    margin-top: 42px;
    margin-right: 40px;
}

.menu-item a {
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid #fe9d00;
}


.block-2 {
    background-color: #ffffff;
    background-size: cover;
}

.main-title {
    padding-top: 70px;
    font-size: 62px;
    font-family: Archangelsk;
    font-weight: 400;
    letter-spacing: 0%;

}

.main-text {
    width: 952px;
    height: 125px;
    padding-top: 25px;
}

.main-text p {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
}

.main-text span {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
}

.image-futur {
    display: flex;
    /* Используем Flexbox */
    padding-top: 70px;
}

.left {
    display: flex;
    flex-direction: column;
    /* Элементы внутри .left будут располагаться вертикально */
    padding-right: 32px;
    height: 424px;
}

.right {
    height: 424px;
}


.top,
.bottom img {
    height: 196px;
}

.bottom {
    padding-top: 32px;
}

.right {}

.between {
    background-image: url("/content/22_1.jpg");
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 70px;
}

.block-2 {
    padding-bottom: 70px;
}

.block-3 {
    background-color: #000;
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 884px;
    z-index: -1;
}

.balock-3-up {
    padding-top: 15px;
    display: flex;
    /* Размещаем элементы в строку */
    flex-wrap: nowrap;
    /* Запрещаем перенос элементов на новую строку */
}

.balock-3-up {
    width: 132px;
    height: 132px;
}

.title-text {
    font-size: 62px;
    font-family: Archangelsk;
    font-weight: 400;
    letter-spacing: 0%;
    color: #fff;
    white-space: nowrap;
    padding-top: 55px;
    padding-left: 32px;
    display: block;
}

.hed-2{
    display: none;
}

.title-text-1024{
    display: none;

}

.title-text-320{
    display: none;
}

.sub-title-text p {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    color: #fff;
}

.sub-title-text span {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    color: #52BEDC;

}

.sub-title-text {
    padding-top: 25px;
    max-width: 952px;
}

.form-ps {
    padding-top: 25px;
    display: flex;
}

.checkbox label {
    color: #fff;

}

.form-container {
    padding-top: 73px;
}

.upload-container {

    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px dashed #777777;
    border-radius: 5px;

    border-width: 1px;

}

.upload-label {
    margin-bottom: 7px;
    background-color: black;
    color: white;
    margin-top: 39px;
    border-radius: 0px;
    cursor: pointer;

}

.file-info {
    margin-top: 10px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    width: 460px;
}

.name,
.email {
    border: 0px;
    background-color: #000;
    border-bottom: solid 1px #777;
    padding-bottom: 13px;
    margin-bottom: 35px;

}

.name::placeholder,
.email::placeholder {
    color: #fff;
}

.send {
    background-color: #F8F200;
    width: 192px;
    height: 59px;
    margin-top: 35px;
    margin-bottom: 15px;
    color: #000;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0%;

}

.ps {
    display: flex;
    margin-left: 32px;
}

.back-yellow {
    position: absolute;

}

.x-box {
    position: absolute;

    margin-left: 164px;
    margin-top: 25px;
}

.back-blue {
    position: absolute;
    z-index: 0;
}

.ps-5-3 {
    position: relative;

    margin-left: 164px;
    margin-top: 25px;
}

.x-box_plus-x-box {
    position: absolute;
    width: 460px;
    z-index: 1;
}

.ps-5_plus-back {
    padding-left: 328px;
    width: 460px;
}

.between-3-4 {
    background-image: url("/content/22_2.jpg");
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 70px;
}

.main-text-4-320{
    display: none;
}

.block-4 {
    background-color: #F8F200;
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 676px;

    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.mon-log {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logs {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 26px;
    height: 80px;
}

.x {

    margin-left: 25px;
    margin-right: 29px;
}

.text-block {
    margin-left: 32px;
}

.main-text-4 {

    font-size: 62px;
    font-family: Archangelsk;
    font-weight: 400;
    letter-spacing: 0%;
    white-space: nowrap;
    
}

.main-yellow-back {
    display: flex;

    width: 1280px;
    height: 536px;
}

.sub-text {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.punkt {

    width: auto;
    display: flex;
    margin-top: 15px;
}

.punkt p{
    margin-top: auto;
margin-bottom: auto;
}

.fs {
    margin-top: 25px;
}

.btn-send-4 button {
    height: 59px;
    width: 194px;
    margin-top: 20px;
    background-color: #000;
    color: #F8F200;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0%;
}

.block-5{
    display: flex;

    max-height: 717px;
    
}

.left-5{
    background-image: url("/content/Untitled-1\ 1.jpg");
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 717px;
    width: 944px;


}

.right-5{
    background-color: #000;
    background-size: cover;
    /* Растягивает изображение на весь размер контейнера */
    background-position: center;
    /* Выравнивает изображение по центру */
    height: 717px;

    width: 976px;


}

.title-5{
    font-size: 62px;
font-family: Archangelsk;
font-weight: 400;
letter-spacing: 0%;
    color: #fff;
    text-wrap: nowrap;

}

.sub-5{
    font-size: 24px;
font-family: Roboto;
font-weight: 700;
letter-spacing: 0%;
color: #52BEDC;
margin-top: 25px;
}

.text-block-5{
    margin-top: 70px;
    margin-left: 32px;
}

.punkt-5{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    margin-top: 15px;
}

.punkt-5-2{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;

}

.punkt-bottom{
    margin-bottom: 70px;
}

.text-5{
    font-size: 18px;
font-family: Roboto;
font-weight: 400;
letter-spacing: 0%;
color: #fff;
margin-top: auto;
margin-bottom: auto;
}

.title-5-bottom{
    font-size: 24px;
font-family: Roboto;
font-weight: 700;
letter-spacing: 0%;
color: #52BEDC;
margin-bottom: 25px;

}

.ps-5{
    margin-right: 80px;
}

.temp-6{
    display: none;
}

.img-5{
    margin-right: 10px;
}

.stadia-5{
    margin-right: 80px;
}

.top-5{
    margin-bottom: 47px;
    margin-left: 0px;
}

.bottpm{
    margin-bottom: 70px;
}

.logo-footer{
    margin-right: 32px;
}

.logo-foote-cont{
    position: absolute;
    left: 320px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.text-footer-cont{
    position: absolute;
    right: 0px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 320px;
}

.lic{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0%;
    margin-right: 32px;
}

.polit{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0%;
}

.pre-footer{
    background-color: white;
    height: 100px;

}

.pre-footer a{
    color: #000;
}

.pre-footer .container{

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 40px;
}

.text-footer{
    font-size: 12px;
font-family: Roboto;
font-weight: 400;
letter-spacing: 0%;
text-align: center;
color: white;
}


